@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .socials {
    font-size: 2rem;

    a {
      color: nb-theme(text-hint-color);
      padding: 0.4rem;
      transition: color ease-out 0.1s;
      border-color: nb-theme(text-hint-color);
      padding: 25px !important;
      margin-left: 5px;
      margin-right: 5px;

      i {
        font-size: 30px !important; 
        display: flex !important;
        justify-content: center !important;
        align-items: center;
      }

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
    
  }

  @include media-breakpoint-down(is) {
    
    .socials {
      font-size: 1.5rem;
    }
  }
}
