<div class="profile-header">
    <h1>Perfil</h1>
    <button nbButton status="info" (click)="open()">
        <i class="fas fa-edit" style="margin-right: 5px;"></i> Editar perfil
    </button>
</div>
<div [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant" class="row">
    <nb-card class="col-md-5 list-card">
        <nb-card-body>
            <div class="profile-img" *ngIf="profileData.picture">
                <img src = "/assets/images/profile/{{profileData.picture}}.png">
                <button (click)="editProfilePhoto(dialog)"  class="file" nbButton status="info">Cambiar imagen.</button>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card class="col-md-7">
        <div class="profile-head">
            <h5>
                {{ profileData.first_name }}
                {{ profileData.middle_name }}
                {{ profileData.last_name }}
            </h5>
            <h6 class="text-body">{{ profileData.undergrad_degree }}</h6>
            <p class="text-hint" *ngIf="profileData.donor">
                Donante <i class="fas fa-star"></i>
            </p>
            <p class="text-hint" *ngIf="profileData.usb_alumn">
                Alumno USB <i class="fas fa-star"></i>
            </p>
        </div>
        <nb-tabset>
            <nb-tab tabTitle="Sobre mi">
                <div class="row profile-personal">
                    <div class="col-6">
                        <strong class="text-heading">Fecha de nacimiento:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.birthdate | date}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Cohorte:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.cohorte }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Carnet:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.carnet }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Campus de pregrado:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.usb_undergrad_campus }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Postgrado:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.graduate_degree }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Campus de postgrado:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.graduate_campus }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Trabajo:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.workplace }}</p>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Redes Sociales">
                <div class="row profile-personal">
                    <div class="col-6">
                        <strong class="text-heading">Twitter</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.twitter_account }}</p>
                    </div>
                </div>
                <div class="row">        
                    <div class="col-6">
                        <strong class="text-heading">Instagram</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.instagram_account }}</p>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Información de contacto">
                <div class="row profile-personal">
                    <div class="col-6">
                        <strong class="text-heading">Ciudad:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.mailing_city }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Estado:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.mailing_state }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">País:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.mailing_country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Teléfono:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.mobile }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Correo:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <strong class="text-heading">Correo trabajo:</strong>
                    </div>
                    <div class="col-6">
                        <p class="text-basic">{{ profileData.work_email }}</p>
                    </div>
                </div>
            </nb-tab>
            </nb-tabset>
    </nb-card>
</div>

<ng-template  #dialog let-data let-ref="dialogRef">
    <nb-card class="col-md-6 dialog-box">
        <nb-card-header>Por favor seleccione una foto de perfil</nb-card-header>
        <div class="row show-grid">
            <div class="col-md-4">
                <nb-card-body>
                    <div class="profile-img-selector">
                        <img src="/assets/images/profile/1.png" (click)="selectProfilePhoto('1');ref.close()"/>
                    </div>
                </nb-card-body>
            </div>
            <div class="col-md-4">
                <nb-card-body>
                    <div class="profile-img-selector">
                        <img src="/assets/images/profile/2.png" (click)="selectProfilePhoto('2');ref.close()"/>
                    </div>
                </nb-card-body>
            </div>
            <div class="col-md-4">
                <nb-card-body>
                    <div class="profile-img-selector">
                        <img src="/assets/images/profile/3.png" (click)="selectProfilePhoto('3');ref.close()"/>
                    </div>
                </nb-card-body>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-md-4">
                <nb-card-body>
                    <div class="profile-img-selector">
                        <img src="/assets/images/profile/4.png" (click)="selectProfilePhoto('4');ref.close()"/>
                    </div>
                </nb-card-body>
            </div>
            <div class="col-md-4">
                <nb-card-body>
                    <div class="profile-img-selector">
                        <img src="/assets/images/profile/5.png" (click)="selectProfilePhoto('5');ref.close()"/>
                    </div>
                </nb-card-body>
            </div>
            <div class="col-md-4">
                <nb-card-body>
                    <div class="profile-img-selector">
                        <img src="/assets/images/profile/6.png" (click)="selectProfilePhoto('6');ref.close()"/>
                    </div>
                </nb-card-body>
            </div>
        </div>
        <nb-card-footer>
            <button nbButton (click)="ref.close()">Cerrar</button>
        </nb-card-footer>
    </nb-card>
</ng-template>