.nb-tabset {
    margin-top: 5%;
}

.fa-star {
    color: #f9cf00;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        height: 50%;
    }
}

.profile-head {
    padding-top: 5%;
    padding-left: 10%;
}

.profile-img {
    .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 100%;
        border: none;
        border-radius: 0;
        background: #212529b8;
    }
}

.profile-img-selector {
    img {
        width: 100%;
    }
}

.dialog-box{
    height: 100%;
    overflow: auto;
}

.profile-personal {
    margin-top: 10px;
}

::ng-deep{
    nb-dialog-container {
        display: flex;
        justify-content: center;
    }
}