<div class="lists row">
    <div class="col-lg-6">
      <nb-card class="list-card" size="medium">
        <nb-card-header>Orden de columnas del CSV</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let fruit of fruits">
              {{ fruit }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header>Upload New CSV</nb-card-header>
          <nb-card-body>
            <p>Please remember the file must be in proper CSV format<br/><br/></p>
            <input (click)="uploadCsvFile()" nbButton status="info" type="submit" value="Upload"/>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  