<div class="lists row">
    <div class="col-lg-6">
      <nb-card class="list-card" size="giant">
        <nb-card-header>Orden de columnas del CSV</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let column of columns">
              {{ column }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Cargar nuevo CSV</nb-card-header>
        <nb-card-body>
          <p>Por favor recuerda que el archivo debe estar en formato CSV adecuadamente<br/><br/></p>
          <button class="browse-button" (click)="file.click()" nbButton status="primary" type="submit">Examinar...</button>
          <input id="file-name" type="text" nbInput placeholder="" fieldSize="medium" status="primary" shape="rectangle" disabled><br/><br/>
          <button (click)="uploadCsvFile()" nbButton status="success" type="submit">Subir</button><br/><br/>
          <input type="file" accept=".csv" (change)="onChange($event)" nbInput fullWidth status="basic" placeholder="Upload" #file>
        </nb-card-body>
      </nb-card>
    </div>
</div>
